@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Poppins", sans-serif !important;
}
.poppins-thin {
  font-family: "Poppins", sans-serif !important;
  font-weight: 100 !important;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif !important;
  font-weight: 200 !important;
  font-style: normal !important;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}

.heroSearchBtn {
  background: #00b5ff;
  width: 2.8rem;
  height: 2.9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  right: 1px;
  top: 1px;
}
.player-wrapper {
  position: relative;
  padding-top: 56.25%; /* 16:9 aspect ratio */
}

.react-player {
  width: 440px !important;
  height: auto !important;
}
@media screen and (max-width: 1392px) {
  .react-player {
    width: 100% !important;
    height: auto !important;
  }
  .cdGridRevFlex {
    display: flex;
    flex-direction: column-reverse !important;
  }
}
@media screen and (max-width: 640px) {
  .rsw-toolbar {
    max-width: 23rem;
  }
}
@media screen and (max-width: 405px) {
  .rsw-toolbar {
    max-width: 20rem;
  }
}
.hero-img {
  -webkit-animation: morph 8s ease-in-out infinite;
  animation: morph 8s ease-in-out infinite;
  background-image: url(./assets/pix2.jpeg);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border: 3px solid #2d2e32;
  border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  height: 23rem;
  position: relative;
  transition: all 1s ease-in-out;
  width: 23rem;
}
@keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    /* transform: scale(1); */
  }
  50% {
    border-radius: 40% 60% 70% 30%/30% 70% 40% 60%;
    /* transform: scale(1.1); */
  }
  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    /* transform: scale(1); */
  }
}

.logos ul li {
  align-items: center;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.09);
  cursor: pointer;
  display: flex;
  height: 3rem;
  justify-content: center;
  width: 3rem;
}

.logos ul li img {
  height: auto;
  width: 2rem;
}

.logos ul {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  list-style: none;
}

.logos {
  font-size: 1.7rem;
}
@media screen and (max-width: 586px) {
  .hero-img {
    height: 21rem;
    width: 21rem;
  }
  .projects-grid .pro__1 {
    padding: 1rem;
  }
  .projects-grid .pro__text {
    width: auto;
  }
  .projects-grid .pro__img {
    width: 23rem;
    margin: auto;
  }
  .text-intro h1 {
    font-size: 2rem;
    text-align: center;
  }
  .text-intro p {
    text-align: center;
  }
  .social-intro {
    justify-content: center;
    margin: auto;
  }
  .about-img {
    margin: auto;
  }
  .text-about h1 {
    font-size: 2rem;
    text-align: center;
  }

  .text-about p:first-child {
    text-align: center;
  }
  .about-btn {
    width: 100%;
  }
  .btn-intro {
    text-align: center;
  }
}

.label {
  font-weight: 500;
}

.voice-button {
  position: fixed;
  right: 10px;
  bottom: 10px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: #f000b8;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  z-index: 99;
}
.voice-button:hover {
  background-color: #0056b3;
}

.pulsate {
  animation: pulsate 1.5s infinite;
}

@keyframes pulsate {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.1);
    opacity: 0.7;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.section-container {
  display: flex;
  justify-content: space-between;
}

.left-bottom {
  width: 40%;
  height: 150px; /* Adjust the height as needed */
  background-color: white;
}

.right-top {
  width: 60%;
  height: 150px; /* Adjust the height as needed */
  background-color: blue;
  clip-path: polygon(0 0, 100% 0, 100% 70%, 0 100%);
}
